.grid-container{
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 0.75rem));
  gap: 1rem;
}
.add-icon{
  width: 40px;
  height: 40px;
  transition: 0.15s;
}
.add-icon:hover{
  filter: brightness(0.8);
}